{#
/**
 * @file recombee-public-scenario.html.twig
 * Default theme implementation to present Recombee Public Scenario data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_recombee_public_scenario()
 */
#}
<div{{ attributes.addClass('recombee-public-scenario') }}></div>
